{% extends "layout.html"%}

{% block title %}home{% endblock %}
{% block nav1 %} active {% endblock %}
{% block main %}
  <div class="hero-box">
    <div class="hero-head">
        <h1>Loved it? <span class="head-text">Find more.</span></h1>
    </div>

    <div class = "search-box">
      <div class="row">
        <form action="/recommend" method="post" id="movie-form">
        <input type = "text" class="" name="q" id="q" autofocus autocomplete="off" placeholder="search" onkeyup="search_movie()">
        <input type="hidden" name="movieId" id ="queryId" required>
      </form>
      </div>
        
        <div class="results">
          <ul id = "result">
          </ul>
        </div>
    </div>
    <div class = "button">
      <button type="submit" form="movie-form" class="btn btn-dark">Search</button>
      <a href="/suggest" class="btn btn-dark .btn-lg">Suggest</a>
    </div>
  
  </div>
{% endblock %}