{% extends "layout.html"%}

{% block title %} recommend {% endblock %}

{% block nav2 %}active{% endblock %}

{%block main %}
<div class="rec-box">
    <div class="rec-head">
        <h1>You'll love these <span class="head-text">Selections</span></h1>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th>title</th>
            <th>genres</th>
        </tr>
    </thead>
    <tbody>
        {%for movie in toph%}
            <tr>
                <td>{{movie.Series_Title}}</td>
                <td>{{movie.Genre}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}